@import 'https://fonts.googleapis.com/css?family=Fira+Mono|Open+Sans:300,400,600,700';

body {
   font-size: "Open Sans", sans-serif;
   font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 300;
   border:none;
}

.slide {
   background: #fff;
   text-align: center;
}

blockquote {
   
}

blockquote::before {
   font-family: "Fira Mono";
   font-size: 100px;
   content: '"';
   float: left;
   display: block;
}

img {
   width:25%;
   margin: 0 auto;
}

blockquote code {
   display:none;
}
